<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Namespace 는 실제 마이바티스를 통해
    SQL에 접근할 때 사용하는 매퍼 파일의 별칭이다. 
    보통 서비스의 이름과 같게 설정하여
    연결의 착오를 줄인다. -->
<mapper namespace="adminMapper">
	<select id="selectAdmin" parameterType="Admin" resultType="Admin">
		SELECT ADMIN_ID, ADMIN_PWD FROM ADMIN WHERE ADMIN_ID=#{adminId}
	</select>
	<insert id="insertAdmin" parameterType = "Admin" >
		INSERT INTO ADMIN VALUES(#{adminId}, #{adminPwd})
	</insert>
	<insert id="insertCount" parameterType="String">
		INSERT INTO STATS VALUES(SEQ_STATS_NUM.NEXTVAL, SYSDATE, #{email})
	</insert>
	<select id="selectWeeklyData" resultType="Admin">
        SELECT COUNT(*) AS COUNT, TO_CHAR(STATS_DATE,'YY-MM-DD') AS DATECOUNT
        FROM STATS 
        WHERE SYSDATE <![CDATA[>=]]>STATS_DATE AND SYSDATE-7<![CDATA[<=]]> STATS_DATE 
        GROUP BY TO_CHAR(STATS_DATE,'YY-MM-DD')
        ORDER BY TO_CHAR(STATS_DATE,'YY-MM-DD')
        </select>
	<select id="selectSellerList" resultType="Seller">
		SELECT * FROM SELLER WHERE CONFIRM = 'N'
	</select>
</mapper>







