<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Namespace 는 실제 마이바티스를 통해
    SQL에 접근할 때 사용하는 매퍼 파일의 별칭이다. 
    보통 서비스의 이름과 같게 설정하여
    연결의 착오를 줄인다. -->
<mapper namespace="ProductMapper">
	<resultMap type="Product" id="resultProduct">
	  	<id property="pNo" column="PNO" /> <!-- id는 프라이머리키 -->
	  	<result property="sNo" column="SNO"/>
	  	<result property="pName" column="PNAME"/> <!-- result는 나머지 -->
	  	<result property="selTag" column="SELTAG"/> 
	  	<result property="rUrl" column="RURL"/>
	  	<result property="pQuantity" column="PQUANTITY"/>
	  	<result property="isCraft" column="ISCRAFT"/>
	  	<result property="price" column="PRICE"/>
	  	<result property="pDetail" column="PDETAIL"/>
	  	<result property="delFlag" column="DELFLAG"/>
	  	<collection property="resource" column="resource" ofType="Resource" resultMap="resourceMap"/> 
	 </resultMap>
  
	 <resultMap type="Resource" id="resourceMap">
	      <id property="rno" column="RNO"/>
	      <result property="rsrc" column="RSRC"/>
	 </resultMap>


	<select id="selectProductList" parameterType="int" resultMap="resultProduct">
	
		SELECT P.PNO, P.SNO, P.PNAME, P.SELTAG, P.RURL, P.PQUANTITY, P.ISCRAFT, P.PRICE, P.PDETAIL, P.DELFLAG, R.RNO, R.RSRC
		FROM (SELECT * FROM PRODUCT JOIN (SELECT * FROM SELLER S JOIN MEMBER USING(EMAIL) WHERE SNO = #{sNo}) USING(SNO)) P
		LEFT JOIN RESOURCES R
		ON(P.RURL = SUBSTR(R.RSRC,1,INSTR(R.RSRC,'/',-1,1)-1))
		WHERE P.DELFLAG = 'N'
		ORDER BY P.PNO DESC
	</select>
	<select id="selectProduct" parameterType="int" resultMap="resultProduct">
		SELECT P.PNO, P.SNO, P.PNAME, P.SELTAG, P.RURL, P.PQUANTITY, P.ISCRAFT, P.PRICE, P.PDETAIL, P.DELFLAG, R.RNO, R.RSRC
		FROM (SELECT * FROM PRODUCT JOIN (SELECT * FROM SELLER S JOIN MEMBER USING(EMAIL)) USING(SNO)) P
		LEFT JOIN RESOURCES R
		ON(P.RURL = SUBSTR(R.RSRC,1,INSTR(R.RSRC,'/',-1,1)-1))
		WHERE P.DELFLAG = 'N'
        AND P.PNO = #{pNo}
	</select>
	<!-- -->
	<insert id="insertProduct" parameterType="Product">
		INSERT INTO PRODUCT VALUES(
		SEQ_PRODUCT_PNO.NEXTVAL, #{sNo}, #{pName}, #{selTag}, #{rUrl}, #{pQuantity}, #{isCraft},#{price}, #{pDetail}, 'N')
	</insert>
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT 
		SET PNAME = #{pName}, SELTAG = #{selTag}, RURL = #{rUrl}, PQUANTITY =  #{pQuantity}, ISCRAFT = #{isCraft}, PRICE = #{price}, PDETAIL = #{pDetail}
		WHERE PNO = #{pNo}
	</update>
	<update id="deleteProduct" parameterType="int">
		UPDATE PRODUCT
		SET DELFLAG = 'Y'
		WHERE PNO = #{pNo}
	</update>
</mapper>

