<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Namespace 는 실제 마이바티스를 통해
    SQL에 접근할 때 사용하는 매퍼 파일의 별칭이다. 
    보통 서비스의 이름과 같게 설정하여
    연결의 착오를 줄인다. -->
<mapper namespace="SellerMapper">
	<select id="selectSellerList" parameterType="String" resultType="Member">
		SELECT EMAIL, PWD, NAME, GENDER, PHONE, BIRTH, PROFILE_IMG
		FROM MEMBER
		WHERE EMAIL IN (
			SELECT EMAIL
			FROM SELLER
			WHERE SNO IN (
				SELECT SNO
				FROM PRODUCT
				WHERE SELTAG LIKE '%'||#{selTag}||'%'
			)
		)
	</select>
	<select id="selectSellersInfo" parameterType="java.util.List" resultType="Seller">
		SELECT SNO, EMAIL, ACNUM, BANK, ZIPCODE, ADDR, ADDRDETAIL, PCATEGORY, REASON
		FROM SELLER
		WHERE EMAIL IN 
		<foreach collection="list" item="seller" open="(" separator="," close=")">
			#{seller.email}
		</foreach>
	</select>
	
	<select id="selectSeller" parameterType="string" resultType="Seller">
		SELECT SNO, EMAIL, ACNUM, BANK, ZIPCODE, ADDR, ADDRDETAIL, PCATEGORY, REASON, CONFIRM
		FROM SELLER
		WHERE EMAIL = #{email}
	</select>
	
	<select id="selectSalesStatisticsList" parameterType="String" resultType="SalesStatisticsVo">
		SELECT P.PNO, PNAME, PRICE, PQUANTITY, ISCRAFT, (SELECT SUM(C.QUANTITY) FROM CONTRACT C WHERE C.PNO = P.PNO) AS SALESRATE
		FROM PRODUCT P
		JOIN SELLER S ON (S.SNO = P.SNO)
		WHERE S.EMAIL = #{email}
	</select>
	<select id="selectApprovalList" resultType="Seller">
		SELECT SNO, EMAIL, ACNUM, BANK, ZIPCODE, ADDR, ADDRDETAIL, PCATEGORY, REASON, CONFIRM
		FROM SELLER
		WHERE CONFIRM = 'N'
	</select>
	<update id="updateSellerAu" parameterType="Seller">
		UPDATE SELLER SET CONFIRM ='Y'	
		WHERE EMAIL =#{email} AND SNO =#{sNo}
	</update>
	<insert id="insertSeller" parameterType="Seller">
		INSERT INTO SELLER VALUES(SEQ_SELLER_SNO.NEXTVAL, #{email}, #{acNum}, #{bank}, #{zipcode}, #{addr}, #{addrDetail}, #{pCategory}, #{reason}, 'N')
	</insert>
	<update id="confirmSeller" parameterType="int">
		UPDATE SELLER
		SET CONFIRM = 'Y'
		WHERE SNO = #{sno}
	</update>
</mapper>

